body {
    background: linear-gradient(rgba(88, 3, 128, 0.781), rgb(96, 12, 107), rgb(15, 1, 1)) ;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

.temas {
    width: auto;
    position: fixed;
    background: linear-gradient(rgb(0, 0, 0),rgba(88, 3, 128, 0.781), rgb(96, 12, 107), rgb(15, 1, 1)) ;
    margin-bottom:20px;
  }

.temas a {
    display: block;
    width: 400px;
    background-color: #500e0363;
    margin-bottom: 10px;
    text-align: center;
    line-height: 80px;
    color: #c173f5;

  }

.information {
    margin-left: 500px;
    align-items:center;
  }

h2{
    text-align: center;
  }

#tituloindice{
    color: #c173f5;
    text-align: center;
  }
  
footer{
    text-align: center;
  }
 
  
  
 
  